/******** CONTAINER STYLES ***********/
#contentContainer {
	width: 70%;
	margin: auto;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#contentContainer article {

}

/*********/


#featuredProductDesc,
section.employeeInfo {
	width: 49%;
}

#featuredProduct{
	float: right;
	width: 49%;
}

#featuredProduct > *{
	margin: auto;
	display: block;
	text-align: center;
}

.employeeBlurb{
	float: right;
	clear: both;
	margin: auto;
	display: block;
	text-align: left;
}

.employeeInfo p,
.employeeInfo h4 {
	margin: 1px auto;
}

#featuredProductImg, 
.employeeHeadShot{
	width: 75%;
	padding: 5px;
}

.employeeHeadShot {
	height: 250px;
	width: 250px;
	float: right;
	
}

#featuredProduct button {
	display: block;
	padding: 5px;

}

@media (max-width: 800px){
	#contentContainer {
		width: 90%
	}	
}

@media (max-width: 600px) {
	#featuredProduct,
	.employeeBlurb {
		float: none;
		display: block;
		width: 100%;
	}
	#featuredProductDesc,
	.employeeBlurb {
		float: none;
		width: 100%;
	}
}









