/******** BODY STYLES ***********/

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/******** CONTAINER STYLES ***********/
#contentContainer {
	width: 70%;
	margin: auto;
}

#contentContainer article {

}

/*********/


#featuredProductDesc,
section.employeeInfo {
	width: 49%;
}

#featuredProduct{
	float: right;
	width: 49%;
}

#featuredProduct > *{
	margin: auto;
	display: block;
	text-align: center;
}

.employeeBlurb{
	float: right;
	clear: both;
	margin: auto;
	display: block;
	text-align: left;
}

.employeeInfo p,
.employeeInfo h4 {
	margin: 1px auto;
}

#featuredProductImg, 
.employeeHeadShot{
	width: 75%;
	padding: 5px;
}

.employeeHeadShot {
	height: 250px;
	width: 250px;
	float: right;

}

#featuredProduct button {
	display: block;
	padding: 5px;

}

@media (max-width: 800px){
	#contentContainer {
		width: 90%
	}	
}

@media (max-width: 600px) {
	#featuredProduct,
	.employeeBlurb {
		float: none;
		display: block;
		width: 100%;
	}
	#featuredProductDesc,
	.employeeBlurb {
		float: none;
		width: 100%;
	}
}

.product {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 4%;
	width: 29%;
	display: inline-block;
	border: 2px solid #34623E;
	box-sizing: border-box;
	height: 470px;
}

.productImageContainer {
	width: 80%;
	height: 30%;
	display: block;
	margin: 0 auto;
}

.productImageContainer img {
	width: 100%;
}

.productTitle {
	font-weight: 800;
	margin-top: 100px;
}

.productDescription {
	min-height: 6em;
	display: block;
}



@media only screen and (max-width: 1100px) {
	.product {
		width: 44%;
		margin-left: 3%;
		margin-right: 3%;
	}

	.productTitle {
		margin-top: 145px;
	}

}
@media only screen and (max-width: 640px) {
	.product {
		width: 100%;
		margin-left: 0;
	}

	.productImageContainer {
		width: 50%;
		min-width: 230px;
	}

}

